.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
  }
  
  .box p {
    width: auto;
    margin: auto;
    font-weight: bold;
  }
  .area{
      width: 525px;
      margin: auto;
  }